.menu-sub{
    display: none;
    position: absolute;
    background: #fff;
    flex-direction: column;
    padding:  1.25rem;
    top: 100%;
    width: 176px;
    border: 1px solid #E9E9E9;
}
.menu{
    gap: 2rem;

}
.menu__item{
    position: relative;
    padding: 1.25rem 0.875rem 1.25rem 0;
    cursor: pointer;
}
.menu__item:hover .menu-sub{
    display: flex;
}
.menu-sub .menu__item{
    padding: 0.5rem 0;
    border-bottom: 1px solid #E9E9E9;
    transition: all .3s;
}
.menu-sub .menu__item:first-child{
    padding-top: 0;
}
.menu-sub .menu__item:last-child{
    padding-bottom: 0;
    border-bottom: 0;
}
.menu-sub .menu__item:after{
    transform: rotate(-90deg);
}
.menu-sub .menu__item:hover{

    padding-left: 0.5rem;
}
.menu-sub .menu__item:hover .menu__link{
    color: #969696;
}
.menu-sub .menu__link{
    font-weight: 400;
    font-size: 0.8125rem;

}
.menu__item:after{
    content: '';
    width: 10px;
    height: 6px;
    background: url('../../assets/arrow-down.svg') no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.menu__link{
    color: #000;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 900px){
    .menu{
        flex-direction: column;
        max-width: 320px;
        width: 100%;
        padding: 30px 21px 0 20px;
        gap: 0;
        background: #fff;
        height: 100vh;
        align-items: flex-start;
        justify-content: flex-start;
        border-right: 1px solid #E9E9E9
    }
    .menu__item{
        padding: 1rem 0;
        border-bottom: 1px solid #E9E9E9;
        width: 100%;
    }
    .menu__item:last-child{
        border-bottom: 0;
    }
    .menu__item:first-child{
        padding-top: 0;
    }
    .menu__item:after{
        display: none;
    }
    .menu__link{
      display: flex;
        width: fit-content;
        background: url('../../assets/arrow-down.svg') right center no-repeat;
        padding-right: 20px;
    }
    .menu-sub{
        position: relative;
        width: 100%;
        border: none;
        padding-bottom: 0;
        top: 0;
    }
}