.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .5);
    z-index: 99999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}
.modal__content{
    max-width: 600px;
    min-height: 400px;
    padding: 40px;
    background: #fff;
    position: relative;
}
.modal__close{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
}