header{
    position: sticky;
    top: -86px;
    z-index: 100;
    background: #fff;
    transition: all .5s;
}
header.nav-hide {
    transform: translateY(-65px);
}
.header__top{
    padding-top: 1.8125rem;
    padding-bottom: 1.5625rem;
    border-bottom: 1px solid #E9E9E9;
}
.header__top--content{
    display: flex;
}
.header__top--content:before {
    content: "";
    flex: 1;
}
.nav{
    border-bottom: 1px solid #E9E9E9;
    transition: all .3s;
}
.logo{
    width: 181px;
}

.mobile__menu{
    display: none;
}
.nav__top{
    display: none;
}
@media screen and (max-width: 900px) {
    .mobile__menu{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: url('../../assets/menu.svg') no-repeat center;
    }
    .header__top--content:before{
        display: none;
    }
    .header__top--content{
        justify-content: space-between;
    }
    .nav{
        left: -100%;
        position: fixed;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        background: rgba(255, 255, 255, .6);
    }
    .nav.show{
        left: 0;
    }
    .nav .container{
        padding: 0;
    }
    .nav__top{
        display: flex;
        padding: 32px 20px 25px ;
        border-bottom: 1px solid #E9E9E9;
        width: 320px;
        justify-content: space-between;
        background: #fff;
        border-right: 1px solid #E9E9E9
    }

    .menu__close{
        width: 30px;
        height: 30px;
        background: url('../../assets/x.svg') no-repeat center;
        border: none;
    }
}